In [78]:
import pandas as pd
from datetime import datetime
import numpy as np

In [79]:
intakes = pd.read_csv("Resources/Austin_Animal_Center_Intakes.csv")
outcomes = pd.read_csv("Resources/Austin_Animal_Center_Outcomes.csv")

In [3]:
intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White

In [4]:
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
1,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
2,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
3,A707443,NaN,07/13/2015 01:50:00 PM,07/13/2015 01:50:00 PM,06/21/2015,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Longhair Mix,Black Smoke
4,A684346,NaN,07/22/2014 04:04:00 PM,07/22/2014 04:04:00 PM,07/07/2014,Transfer,Partner,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Orange Tabby

In [6]:
outcomes_df = pd.DataFrame(outcomes)
intakes_df = pd.DataFrame(intakes)

In [8]:
outcomes_df["Animal ID"].count()

89502

In [9]:
intakes_df["Animal ID"].count()

89570

In [10]:
animals = pd.merge(intakes_df, outcomes_df, how='left', on="Animal ID")

In [11]:
animals.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,...,DateTime_y,MonthYear_y,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_y,Sex upon Outcome,Age upon Outcome,Breed_y,Color_y
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,...,09/04/2017 12:00:00 AM,09/04/2017 12:00:00 AM,06/01/2016,Transfer,Partner,Dog,Spayed Female,1 year,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,06/01/2017 04:42:00 PM,06/01/2017 04:42:00 PM,12/21/2016,Transfer,Partner,Dog,Spayed Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,...,07/08/2016 09:00:00 AM,07/08/2016 09:00:00 AM,12/07/2015,Transfer,SCRP,Cat,Neutered Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,...,05/06/2017 03:57:00 PM,05/06/2017 03:57:00 PM,05/01/2014,Transfer,Partner,Dog,Neutered Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,...,11/06/2014 10:06:00 AM,11/06/2014 10:06:00 AM,06/13/2014,Adoption,Foster,Dog,Spayed Female,4 months,Border Collie Mix,Brown/White

In [12]:
animals["Animal ID"].count()

113429

In [13]:
sex_outcome = animals["Sex upon Outcome"].str.split(' ', 1, expand=True)
fixed = sex_outcome[0]
gender = sex_outcome[1]

In [14]:
type(fixed)

pandas.core.series.Series

In [15]:
animals["Gender"]=gender
animals["Fixed"]=fixed

In [18]:
age_intake = animals["Age upon Intake"].str.split(' ', 1, expand=True)
number = age_intake[0]
multiple = age_intake[1]

In [19]:
animals['Age Number'] = number
animals['Age Multiple'] = multiple

In [21]:
dates = {'years': 365, 'year': 365, 'months': 30, 'month': 30, 'weeks': 7, 'week': 7, 'days': 1, 'day': 1, 'nan': 0}

In [22]:
animals['Age Multiple'] = [dates[item] for item in animals['Age Multiple']]

In [23]:
animals.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,...,Outcome Subtype,Animal Type_y,Sex upon Outcome,Age upon Outcome,Breed_y,Color_y,Gender,Fixed,Age Number,Age Multiple
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,...,Partner,Dog,Spayed Female,1 year,Pit Bull Mix,Black,Female,Spayed,10,30
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,Partner,Dog,Spayed Female,5 months,Miniature Schnauzer Mix,White/Cream,Female,Spayed,5,30
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,...,SCRP,Cat,Neutered Male,7 months,Domestic Shorthair Mix,Blue Tabby,Male,Neutered,7,30
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,...,Partner,Dog,Neutered Male,3 years,Bichon Frise Mix,White,Male,Neutered,3,365
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,...,Foster,Dog,Spayed Female,4 months,Border Collie Mix,Brown/White,Female,Spayed,4,7

In [24]:
age_outcome = animals["Age upon Outcome"].str.split(' ', 1, expand=True)
number_out = age_outcome[0]
multiple_out = age_outcome[1]

sex_intake = animals["Sex upon Intake"].str.split(' ', 1, expand=True)
fixed_intake = sex_intake[0]
gender_intake = sex_intake[1]

In [25]:
animals['Age Number Outcome'] = number_out
animals['Age Multiple Outcome'] = multiple_out

animals['Fixed on Intake'] = fixed_intake

In [26]:
animals.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,...,Age upon Outcome,Breed_y,Color_y,Gender,Fixed,Age Number,Age Multiple,Age Number Outcome,Age Multiple Outcome,Fixed on Intake
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,...,1 year,Pit Bull Mix,Black,Female,Spayed,10,30,1,year,Intact
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,5 months,Miniature Schnauzer Mix,White/Cream,Female,Spayed,5,30,5,months,Intact
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,...,7 months,Domestic Shorthair Mix,Blue Tabby,Male,Neutered,7,30,7,months,Intact
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,...,3 years,Bichon Frise Mix,White,Male,Neutered,3,365,3,years,Intact
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,...,4 months,Border Collie Mix,Brown/White,Female,Spayed,4,7,4,months,Intact

In [101]:
animals["Age Multiple Outcome"].fillna('zero', inplace=True)
dates = {'years': 365, 'year': 365, 'months': 30, 'month': 30, 'weeks': 7, 'week': 7, 'days': 1, 'day': 1, 'zero': 0}

In [102]:
animals['Age Multiple Outcome'] = [dates[item] for item in animals['Age Multiple Outcome']]
animals.dtypes

KeyError: 365

In [92]:
# pd.to_numeric(animals['Age Multiple'], errors='coerce')
# pd.to_numeric(animals['Age Number Outcome'], errors='coerce')
# pd.to_numeric(animals['Age Multiple Outcome'], errors='coerce')
# pd.to_numeric(animals['Age Number'], errors='coerce')
animals['Intake Number'] = animals['Age Number'].fillna(0).astype(int)
animals['Intake Multiple'] = animals['Age Multiple'].fillna(0).astype(int)

animals['Outcome Number'] = animals['Age Multiple Outcome'].fillna(0).astype(int)
animals['Outcome Multiple'] = animals['Age Number Outcome'].fillna(0).astype(int)

In [100]:
# animals.dtypes

In [32]:
animals.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,...,Age upon Outcome,Breed_y,Color_y,Gender,Fixed,Age Number,Age Multiple,Age Number Outcome,Age Multiple Outcome,Fixed on Intake
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,...,1 year,Pit Bull Mix,Black,Female,Spayed,10,30,1,365,Intact
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,5 months,Miniature Schnauzer Mix,White/Cream,Female,Spayed,5,30,5,30,Intact
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,...,7 months,Domestic Shorthair Mix,Blue Tabby,Male,Neutered,7,30,7,30,Intact
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,...,3 years,Bichon Frise Mix,White,Male,Neutered,3,365,3,365,Intact
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,...,4 months,Border Collie Mix,Brown/White,Female,Spayed,4,7,4,30,Intact

In [67]:
animals["Intake Date"] = pd.to_datetime(animals["DateTime_x"])
animals['Outcome Date'] = pd.to_datetime(animals["DateTime_y"])

In [69]:
animals['Stay Duration'] = animals['Outcome Date'] - animals["Intake Date"]

In [70]:
animals.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,...,Gender,Fixed,Age Number,Age Multiple,Age Number Outcome,Age Multiple Outcome,Fixed on Intake,Intake Date,Outcome Date,Stay Duration
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,...,Female,Spayed,10,30,1,365,Intact,2017-05-01 14:26:00,2017-09-04 00:00:00,125 days 09:34:00
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,Female,Spayed,5,30,5,30,Intact,2017-05-28 13:22:00,2017-06-01 16:42:00,4 days 03:20:00
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,...,Male,Neutered,7,30,7,30,Intact,2016-07-07 12:11:00,2016-07-08 09:00:00,0 days 20:49:00
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,...,Male,Neutered,3,365,3,365,Intact,2017-05-01 10:53:00,2017-05-06 15:57:00,5 days 05:04:00
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,...,Female,Spayed,4,7,4,30,Intact,2014-07-13 11:02:00,2014-11-06 10:06:00,115 days 23:04:00

In [81]:
animals.dtypes

Animal ID                        object
Name_x                           object
DateTime_x                       object
MonthYear_x                      object
Found Location                   object
Intake Type                      object
Intake Condition                 object
Animal Type_x                    object
Sex upon Intake                  object
Age upon Intake                  object
Breed_x                          object
Color_x                          object
Name_y                           object
DateTime_y                       object
MonthYear_y                      object
Date of Birth                    object
Outcome Type                     object
Outcome Subtype                  object
Animal Type_y                    object
Sex upon Outcome                 object
Age upon Outcome                 object
Breed_y                          object
Color_y                          object
Gender                           object
Fixed                            object
Age Number                       object
Age Multiple                      int64
Age Number Outcome               object
Age Multiple Outcome              int64
Fixed on Intake                  object
Intake Date              datetime64[ns]
Outcome Date             datetime64[ns]
Stay Duration           timedelta64[ns]
dtype: object

In [95]:
animals.columns

Index(['Animal ID', 'Name_x', 'DateTime_x', 'MonthYear_x', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type_x', 'Sex upon Intake',
       'Age upon Intake', 'Breed_x', 'Color_x', 'Name_y', 'DateTime_y',
       'MonthYear_y', 'Date of Birth', 'Outcome Type', 'Outcome Subtype',
       'Animal Type_y', 'Sex upon Outcome', 'Age upon Outcome', 'Breed_y',
       'Color_y', 'Gender', 'Fixed', 'Age Number', 'Age Multiple',
       'Age Number Outcome', 'Age Multiple Outcome', 'Fixed on Intake',
       'Intake Date', 'Outcome Date', 'Stay Duration', 'Intake Number',
       'Intake Multiple', 'Outcome Number', 'Outcome Multiple'],
      dtype='object')

In [99]:
animals_final = pd.DataFrame({'Animal ID': animals['Animal ID'],
                             'Name': animals['Name_x'],
                             'Animal Type': animals['Animal Type_x'],
                             'Breed': animals['Breed_x'],
                             'Gender': animals['Gender'],
                             'Color': animals['Color_x'],
                             'Birthday': animals['Date of Birth'],
                             'Intake DateTime': animals['DateTime_x'],
                             'Intake Type': animals['Intake Type'],
                             'Intake Condition': animals['Intake Condition'],
                             'Intake Age (days)': animals['Intake Number']*animals['Intake Multiple'],
                             'Fixed upon Intake': animals['Fixed on Intake'],
                             'Outcome Type': animals['Outcome Type'],
                             'Outcome Subtype': animals['Outcome Subtype'],
                             'Outcome Date': animals['DateTime_y'],
                             'Fixed upon Outcome': animals['Fixed'],
                             'Outcome Age': animals['Outcome Number']*animals['Outcome Multiple'],
                             'Stay Duration': animals['Stay Duration']
        
})
animals_final.head()

,Animal ID,Animal Type,Birthday,Breed,Color,Fixed upon Intake,Fixed upon Outcome,Gender,Intake Age (days),Intake Condition,Intake DateTime,Intake Type,Name,Outcome Age,Outcome Date,Outcome Subtype,Outcome Type,Stay Duration
0,A748291,Dog,06/01/2016,Pit Bull Mix,Black,Intact,Spayed,Female,300,Normal,05/01/2017 02:26:00 PM,Stray,*Madison,365,09/04/2017 12:00:00 AM,Partner,Transfer,125 days 09:34:00
1,A750529,Dog,12/21/2016,Miniature Schnauzer Mix,White/Cream,Intact,Spayed,Female,150,Normal,05/28/2017 01:22:00 PM,Stray,NaN,150,06/01/2017 04:42:00 PM,Partner,Transfer,4 days 03:20:00
2,A730601,Cat,12/07/2015,Domestic Shorthair Mix,Blue Tabby,Intact,Neutered,Male,210,Normal,07/07/2016 12:11:00 PM,Stray,NaN,210,07/08/2016 09:00:00 AM,SCRP,Transfer,0 days 20:49:00
3,A748238,Dog,05/01/2014,Bichon Frise Mix,White,Intact,Neutered,Male,1095,Normal,05/01/2017 10:53:00 AM,Stray,NaN,1095,05/06/2017 03:57:00 PM,Partner,Transfer,5 days 05:04:00
4,A683644,Dog,06/13/2014,Border Collie Mix,Brown/White,Intact,Spayed,Female,28,Nursing,07/13/2014 11:02:00 AM,Owner Surrender,*Zoey,120,11/06/2014 10:06:00 AM,Foster,Adoption,115 days 23:04:00

In [97]:
animals_final.to_csv('Animals.csv')