In [2]:
import pandas as pd

In [3]:
table = pd.read_csv("wine_reviews_kaggle.csv")

C:\Users\User\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
table = table.drop(columns=["Unnamed: 0"])
table.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Color
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,White
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Red
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,White
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,White
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,Red

In [5]:
table.describe()

              points          price
count  129968.000000  120972.000000
mean       88.447172      35.363828
std         3.039755      41.022631
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [6]:
mask = table[table["price"]<1000]

In [7]:
mask.describe()

              points          price
count  120956.000000  120956.000000
mean       88.420963      35.144970
std         3.043422      35.577002
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000     980.000000

In [8]:
print(len(table))
print(len(mask))
print(len(table)-len(mask))

129968
120956
9012

In [9]:
us = table[table["country"]== "US"]

In [10]:
len(us["province"].unique())

27

In [11]:
len(mask["country"].unique())

43

In [25]:
table.groupby("variety")["variety"].count().sort_values(ascending=False).head(10)

variety
Red Blend             17458
Pinot Noir            13272
Chardonnay            11753
Cabernet Sauvignon     9472
Riesling               5189
Sauvignon Blanc        4967
Syrah                  4142
White Blend            4018
Rosé                   3564
Merlot                 3102
Name: variety, dtype: int64